.env
.env.local

backups/

grafana/data/
influxdb/data/
mosquitto/data/
mosquitto/log/

openhab/userdata/cache/
openhab/userdata/logs/
openhab/userdata/tmp/
openhab/userdata/secrets/
openhab/userdata/persistence/
openhab/userdata/jsondb/

node_modules/

*.log